
#navcolor{
    /* background-color: rgba(255, 148, 148) !important; */
    background-color: rgb(108, 59, 114) !important;
    font-size: 150%;
    font-family: serif;
}
.nav-link{
color: #fff !important;
}
body{
    background-image: url(https://i.makeagif.com/media/4-08-2017/tx3DrJ.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
    padding-top: 60px;
    font-family: serif;
}
/* nav bar spacing */
.nav-spacing{
    padding: 30px;
}

#border0{
    border: 2px ;
    color: #FF9494 ;
    background-color: rgba(255, 148, 148,); 
    border-radius: 20px;  
    margin: 0px;
    padding: 20px;
    padding-top: 60px;
}
#border1{
    border: 2px ;
    color: #FF9494 ;
    background-color: rgba(255, 148, 148, .13); 
    border-radius: 20px;  
    margin: 20px;
    padding: 20px;
    
}
#border1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
#border11{
    border: 2px ;
    color: #FF9494 ;
    background-color: rgba(255, 148, 148, .15); 
    margin: 20px;
    padding: 30px;
}
#border111{
    border:  2px ;
    background-color: rgba(255, 148, 148, .15); 
    border-radius: 25px;  
    margin: 0px;
    padding: 0px;
}
#border2{
     border:  2px ;  
    
    border-radius: 10px;  
    margin: 15px;
    padding: 15px;
}
#border3{
    border: 2px  ;
    color:white ;
    font-size: 25px;
    font-family:verdana;
    text-shadow: 2px 2px 4px #000000;
}

#border33{
    text-align: center;
    color:#FF9494;
    font-size: 50px;
    font-family: serif;
    text-shadow: 2px 2px 4px #000000;
    
    
}

#border4{
    text-align: center;
    border: 2px ;
    padding-top: 50px;
    background-color:rgba(255, 148, 148, .15); 
    backdrop-filter: blur(5px);
    
}

footer{
    text-align: center;
    border: 2px ;
    padding-top: 50px;
    color: #fff;
    background-color:rgba(255, 148, 148, .15); 
    backdrop-filter: blur(5px);
}
  /* footer{
    margin-top: 50px;
    text-align: center;
    background-color: rgba(255, 148, 148, .8);   
    text-align: center;
    padding: 20px 0;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px;  
  } */